@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-secondary-dark: #A18268;
    --color-secondary-light: #CFCFBC;
}

/* Base */

* {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    background-color: var(--color-primary-light);
}

h1, h2, h3, h4, h5, p {
    margin-top: 0;
}

.section {
    padding: 48px 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Links */
.header-link {
    color: var(--color-primary-light);
}

.header-link:hover {
    color: var(--color-brand-light);
}

footer a {
    color: var(--color-primary-light);
}

footer a:hover {
    color: var(--color-secondary-dark);
}

.adress-link {
    font-size: 16px;
    font-weight: 300;
}

/* Button */
.button {
    background-color: var(--color-brand-light);
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    color: var(--color-primary-light);
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/* Header */
.header {
    background-color: #31261A;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Hero Section */
.hero-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-section {
    padding: 272px 0;
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* Advantages Section */
.advantages-section {
    background-color: var(--color-brand-light);
}

.hidden {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.advantages-list {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    color: var(--color-primary-dark);
    line-height: 1,3;
    font-weight: 600;
    font-size: 64px;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Traditions Section */
.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-text.limited {
    max-width: 340px;
}

.traditions-text .brand {
    color: var(--color-brand-light);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

.traditions-section {
    margin-top: 96px;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-content {
    max-width: 710px;
}

.traditions-photo {
    border-radius: 400px 400px 0px 0px;
}

/* Bakers Section */
.baker-subtitle {
    font-size: 40px;
    font-weight: 600;
}

.baker-title {
    margin-bottom: 80px;
    max-width: 520px;
    margin: 0 auto 80px;
}

.baker-title::before, .baker-title::after {
    content: '';
    display: block;
    border: 2px solid var(--color-secondary-light);
    width: 352px;
}

.baker-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

/* Contacts Section*/
.contact-title {
    margin-bottom: 16px;
}

/* Formats Section */
.formats-list {
    display: flex;
    gap: 20px;
}

.format-card {
    background: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
    height: 450px;
    padding: 24px;
    border: 1px solid lightgray; /* remove */
    border-radius: 16px;
}

.format-subtitle {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

.format-title {
    margin-bottom: 80px;
}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}

.format-arrow {
    fill: var(--color-primary-light);
}

/* Carousel */
.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-light);
}

.carousel-button:hover .carousel-arrow {
    fill: var(--color-primary-light);
}

.carousel-arrow {
    fill: var(--color-primary-dark);
}

/* Footer */
.copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
}

.footer {
    background-image: url('../images/footer-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-primary-dark);
    background-position: center;
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-secondary-dark);
}