@import './utils/fonts';
@import './utils/variables';
@import './utils/texts';
@import './utils/utils';
@import './utils/section';

@import './base';

@import './components/button';
@import './components/links';
@import './components/carousel';
@import './components/modal-window';
@import './components/contacts-form';
@import './components/modal-form';
@import './components/pagination';

@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/advantages-section';
@import './layouts/traditions-section';
@import './layouts/bakers-section';
@import './layouts/formats-section';
@import './layouts/contacts-section';
@import './layouts/footer';
@import './layouts/mobile-menu';
