.button {
	background-color: var(--color-brand-light);
	border-radius: 8px;
	border: 2px solid var(--color-brand-light);
	color: var(--color-primary-light);
	cursor: pointer;
	font-weight: 600;
	padding: 16px 32px;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background-color: transparent;
		color: var(--color-brand-dark);
	}
}
