.carousel-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	padding: 0;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid var(--color-primary-dark);
	cursor: pointer;
	flex-shrink: 0;
	transition: background-color 0.3s, border 0.3s;

	&__arrow {
		fill: var(--color-primary-dark);
		transition: fill 0.3s;
	}

	&:hover {
		background-color: var(--color-primary-dark);
		border: 1px solid var(--color-primary-light);
	}

	&:hover &__arrow {
		fill: var(--color-primary-light);
	}
}

.next {
	transform: rotate(180deg);
}
