.copyright {
	font-size: 14px;
	color: var(--color-secondary-dark);
}

.footer {
	background-image: url('../images/footer-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-primary-dark);
	background-position: center;
	padding: 32px 0 32px 0;
	position: relative;
}

.footer-container {
	display: flex;
	gap: 166px;
}

.footer-nav,
.footer-address,
.address-policy {
	flex-basis: calc((100% - 606px) / 3);
}

footer a {
	margin-bottom: 16px;
}

.address-icon {
	fill: var(--color-primary-light);
	transition: fill 0.3s;
}

.address-icon:hover {
	fill: var(--color-secondary-dark);
}

.footer::before,
.footer::after {
	content: '';
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0;
}

.footer::before {
	background-image: url(../images/decor-bread-small.png);
	width: 180px;
	height: 120px;
}

.footer::after {
	background-image: url(../images/decor-bread-large.png);
	width: 380px;
	height: 190px;
	right: 50px;
}

.footer-social-icon {
	display: flex;
	gap: 22px;
}
