.header__link {
	color: var(--color-primary-light);
	transition: color 0.3s;
}

.header__link:hover {
	color: var(--color-brand-light);
}

footer a {
	color: var(--color-primary-light);
	transition: color 0.3s;
}

footer a:hover {
	color: var(--color-secondary-dark);
}

.adress-link {
	font-size: 16px;
	font-weight: 300;
}
