.modal {
	width: 100%;
	max-width: 880px;
	height: 100%;
	max-height: 880px;
	background-color: var(--color-primary-light);
	border-radius: 32px;
	position: relative;
	padding: 128px;
	overflow-y: auto;

	&::after {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		background-size: 100%;
		bottom: 0;
		right: 0;
		background-image: url(../images/modal-bread.png);
		width: 105px;
		height: 160px;
	}

	&__form {
		&--input {
			padding: 16px 42px;
			width: 100%;
			border: 1px solid var(--color-secondary-dark);
			background-color: transparent;
			border-radius: 8px;

			&:focus {
				border-color: var(--color-brand-light);
				outline: none;
			}

			&::placeholder {
				color: var(--color-secondary-dark);
				font-size: 16px;
				line-height: 1.17;
			}

			&:focus::placeholder {
				color: var(--color-primary-dark);
			}
		}

		&--title {
			font-size: 64px;
			font-style: normal;
			line-height: 84px;
			text-align: center;
			margin-bottom: 8px;
		}

		&--subtitle {
			font-size: 18px;
			color: var(--color-brand-dark);
			text-align: center;
			margin-bottom: 72px;
		}

		&--field {
			margin-bottom: 32px;
		}

		&--label {
			display: block;
		}

		&--info {
			font-size: 12px;
			line-height: 1.5;
			text-align: center;
			max-width: 215px;
			margin: 0 auto;
			color: var(--color-primary-dark);
		}

		&--terms {
			color: var(--color-primary-dark);
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}
}

.modal-form-btn-center {
	margin: 0 auto;
	display: block;
	margin-bottom: 24px;
}
