.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transition: opacity 0.3s, visibility 0.3s;

	@media screen and (min-width: $bp-desktop) {
		padding: 20px 0;
	}
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: none;
	pointer-events: none;
}

.modal-btn-close {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 24px;
	height: 24px;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform 0.5s, fill 0.5s;

	&:hover {
		transform: rotate(360deg);
		fill: var(--color-brand-light);
	}
}
