.modal-form-input {
	padding: 16px 42px;
	width: 100%;
	border: 1px solid var(--color-secondary-dark);
	background-color: transparent;
	border-radius: 8px;
}

.modal-form-input:focus {
	border-color: var(--color-brand-light);
	outline: none;
}

.modal-form-input::placeholder {
	color: var(--color-secondary-dark);
	font-size: 16px;
	line-height: 1.17;
}

.modal-form-input:focus::placeholder {
	color: var(--color-primary-dark);
}

.modal-form-label {
	display: block;
}

.modal-form-field {
	margin-bottom: 32px;
}

.modal-form-title {
	font-size: 64px;
	font-style: normal;
	line-height: 84px;
	text-align: center;
	margin-bottom: 8px;
}

.modal-form-subtitle {
	font-size: 18px;
	color: var(--color-brand-dark);
	text-align: center;
	margin-bottom: 72px;
}

.modal-form-btn-center {
	margin: 0 auto;
	display: block;
	margin-bottom: 24px;
}

.modal-form-btn-info {
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	max-width: 215px;
	margin: 0 auto;
	color: var(--color-primary-dark);
}

.modal-form-terms {
	color: var(--color-primary-dark);
	text-decoration: underline;
	text-underline-offset: 2px;
}
